.git
.gitignore
.gitattributes
.gradle
**/.gradle
**/build
**/logs
**/*.log
.idea
.vscode
**/*.iml
**/node_modules
documentation/.docusaurus
documentation/build
shopverse-web/.angular
shopverse-web/dist
shopverse-web/coverage
assets/**/*.psd
assets/**/*.tmp
