MYSQL_DATABASE=user_service
MYSQL_USER=ahmed
MYSQL_PASSWORD=change-me-user-db-password
MYSQL_ROOT_PASSWORD=change-me-root-db-password
MINIO_ROOT_USER=shopverse-minio
MINIO_ROOT_PASSWORD=change-me-minio-password
GRAFANA_ADMIN_PASSWORD=change-me-grafana-password
JENKINS_PORT=8085
JENKINS_AGENT_PORT=50000
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD=change-me-jenkins-password
